* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightcoral;

}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 40px;
    color: darkslateblue;
    position: absolute;
    padding-left: 50px;
    padding-top: 50px;
    
}

.mother {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.box {
    border: 2px solid black;
    background-color: aqua;
    width: 300px;
    height: 300px;
    margin-top: 20px;
  
} 
        #box-2
        {
         background-image: url(./images/noel.jpg);
         background-size: cover;
        }
        
        #box-3 {
        background-image: url(./images/noel.jpg);
        background-repeat: no-repeat;
        background-size: 230px;
        background-position: center;
    
        }
        
 
